{# base.twig file structure #}
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/fontawesome.css"/>
    {% endblock %}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a href="/" class="my-0 mr-md-auto font-weight-normal">
        <h5>Тестовое задание</h5>
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Ссылочка</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
{% block body %}
{% endblock %}
<script src="/js/bootstrap.js"></script>

</body>
</html>