{# child.twig file structure #} 
{% extends "base.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Добавление заявки</h1>
                <div class="panel panel-default">
                    <form action="store" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6 mt-2">
                                <label class="control-label" for="username">
                                    Имя пользователя
                                </label>
                                <input id="username" type="text" class="form-control" name="username"
                                       aria-required="true" required placeholder="Username">
                            </div>
                            <div class="col-6 mt-2">
                                <label class="control-label" for="email">
                                    Электронная почта
                                </label>
                                <input id="email" type="email" class="form-control" name="email"
                                       aria-required="true"
                                       required placeholder="email@example.com">
                            </div>
                            <div class="col-12 mt-2">
                                <label class="control-label" for="task_message">
                                    Текст заявки
                                </label>
                                <textarea id="task_message" class="form-control" name="task_message" rows="10"
                                          aria-required="true" required></textarea>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="custom-file ">
                                    <input type="file" name="image" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-default">
                                        Предварительный просмотр
                                    </button>
                                    <a href="/" class="btn btn-link">
                                        Назад
                                    </a>
                                    <button type="submit" class="btn btn-success">
                                        Создать
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
