{# child.twig file structure #} 
{% extends "base.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Заявки пользователей </h1>
                <p>
                    <a type="button" class="btn btn-success pull-right" href="/create">
                        Добавить заявку без регистрации и смс
                    </a>
                </p>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Почта</th>
                        <th scope="col">Текст заявки</th>
                        <th scope="col">Изображение</th>
                        <th scope="col">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <th scope="row">{{ task.id }}</th>
                            <td>{{ task.username }}</td>
                            <td>{{ task.email }}</td>
                            <td>{{ task.task_message }}</td>
                            <td>
                                {% if (task.image) %}
                                    <img src="/img/{{ task.image }}" alt="">
                                {% endif %}
                            </td>
                            <td>
                                {% if ( task.status) %}
                                    <span class="badge badge-info">Close</span>
                                {% else %}
                                    <span class="badge badge-danger">Open</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#{{ tasks.render }}#}
        </div>
    </div>
{% endblock %}
